# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/

# OS
Thumbs.db
.DS_Store

# Large local datasets / generated assets
abc_dataset_download/
abc_dataset_filtered-1/
abc_dataset_filtered-1-meta/
B-Rep Info/
